
<section class="gallery-section">
        <div class="gallery-container">
            <div class="gallery">
                <div class="colum">
                    <div class="image-container">
                        <div class="image"><img src="../../../assets/images/home-page/banner/Building1.jpg" alt="" (error)="onImageError($event)"></div>
                        <div class="image"><img src="../../../assets/images/gallery/DSC_0141.jpg" alt="" (error)="onImageError($event)"></div>
                        <div class="image"><img src="../../../assets/images/gallery/DSC_0148.jpg" alt="" (error)="onImageError($event)"></div>
                    </div>
                </div>

                <div class="colum">
                    <div class="image-container">
                        <div class="image"><img src="../../../assets/images/gallery/DSC_0153.jpg" alt="" (error)="onImageError($event)"></div>
                        <div class="image"><img src="../../../assets/images/gallery/DSC_0176.jpg" alt="" (error)="onImageError($event)"></div>
                        <div class="image"><img src="../../../assets/images/gallery/DSC_0164.jpg" alt="" (error)="onImageError($event)"></div>
                    </div>
                </div>
                <div class="colum">
                    <div class="image-container">
                        <div class="image">
                            <img src="../../../assets/images/gallery/DSC_0175.jpg" alt="" (error)="onImageError($event)">
                        </div>
                    </div>
                </div>

            </div>
    </div>
</section>
