<section class="services-details-section">
    <div class="custom-container">
        <div class="service-item-container">
            <div class="service-item">
                <div class="title">
                    <h5>we are here to provide our best </h5>
                </div>
                <div class="item">
                    <div class="card-section">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">{{data.title}}</h2>
                                <p class="card-text">{{data.content}}</p>
                            </div>
                            <div class="image-container" *ngFor="let image of data.image">
                                <img src={{image}} class="card-img-top" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>