
.ourdoctors-section{
    background:  rgb(237, 64, 30,0.4);
    clip-path: polygon(56% 5%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
    .our-doctors{
        clip-path: polygon(65% 6%, 100% 12%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
        background: linear-gradient(rgba(26, 199, 179,), rgb(237, 64, 30,0.3));
        .custom-container{
            padding-top: 100px;
            .doctors-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .text-container{
                    width: 500px;
                    margin: auto;                   
                    .text{
                        width: 100%;
                        .title{
                            margin-bottom: 20px;
                        }
                        .content{
                            margin-bottom: 25px;
    
                        }
                    }
                }
                .item-card{
                    min-width: 700px;
                    max-width: 1000px;
                }
    
            }
        }
    }
}

// @media(max-width:1199px){
//     .ourdoctors-section{
//         .our-doctors{
//             .custom-container{
//                 padding-right: 5%;
//                 .doctors-container{
//                     .text-container{
//                         width:35%;                   
//                         .text{
                            
//                             .title{
//                                 margin-bottom: 18px;
//                             }
//                             .content{
//                                 margin-bottom: 20px;
        
//                             }
//                         }
//                     }
//                     .item-card{
//                         width: 65%;
//                     }
        
//                 }
//             }
//         }
//     }
// }
@media(max-width:767px){
    .ourdoctors-section{
        .our-doctors{
            .custom-container{
                padding-top: 40px 30px;
                .doctors-container{
                    .text-container{
                        width: 85%;                 
                        .text{
                            .title{
                                margin-bottom: 10px;
                            }
                            .content{
                                margin-bottom: 15px;
        
                            }
                        }
                    }
                    .item-card{
                        width:100%;
                        min-width: 0px;
                    }
        
                }
            }
        }
    }
    
}
