<section class="ourdoctors-section">
<div class="our-doctors">
    <div class="custom-container">
        <div class="doctors-container">
            <div class="text-container">
                 <div class="text">
                    <!-- <h2 class="title">Our Doctors</h2> -->
                    <h3>know your doctor</h3>
                    <!-- <p class="content"> Our doctors are dedicated to providing the best possible care for their patients.  They are highly skilled and experienced in their respective fields.They work together as a team to ensure that each patient receives quality care. The doctors are passionate about what they do and are always striving to improve the quality of care that they provide.</p> -->
                    <a routerLink="/doctors" class="co-btn">More&nbsp;&nbsp;<img src="../../../assets/images/icons/right-arrow.png" alt=""></a>
                  </div>
                </div>
            <div class="item-card">
                <div class="our-cards-container">
                   <app-doctor-slider></app-doctor-slider>
                </div>   
            </div>
        </div>
    </div>
</div>
 </section>