<div class="about-page-section">
    <div class="top-section">
        <div class="image-with-text">
            <div class="image">
                <img src="../../../assets/images/gallery/gallery6.jpg" alt="">
            </div>
            <div class="text">
                <h2>About Us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur est officiis ipsum veritatis, at consectetur deleniti quisquam et perferendis. Necessitatibus voluptatum velit saepe optio doloribus nihil dolores maxime facere laborum.</p>
            </div>
        </div>
    </div>

    <div class="bottom-section">
        <div class="item">
            <div class="text-container common">
                <h3 class="title">Diagnostic Services</h3>
                <div class="text">
                    <p>Pranjal Diagnostic and Healthcare Center offers a broad spectrum of diagnostic services, covering various medical specialties. Our commitment to staying at the forefront of technological advancements ensures accurate and timely diagnoses. </p>
                </div>
            </div>
            <div class="image-container common">
                <img class="image" src="../../../assets/images/home-page/services/service1.jpg" alt="image">
            </div>
        </div>

        <div class="item">
            <div class="text-container common">
                <h3 class="title">Advanced Technology</h3>
                <div class="text">
                    <p>Leveraging the latest technology, we strive to maintain a state-of-the-art healthcare facility. From diagnostic equipment to treatment modalities, our commitment to technological innovation is aimed at providing patients with the best possible care.  </p>
                </div>
            </div>
            <div class="image-container common">
                <img class="image" src="../../../assets/images/home-page/services/digitalXray.jpg" alt="image">
            </div>
        </div>

        <div class="item">
            <div class="text-container common">
                <h3 class="title">Quality Medical Services</h3>
                <div class="text">
                    <p>Our focus on quality is reflected in every aspect of our medical services. From consultation to diagnostics and treatment, we prioritize precision, efficacy, and patient satisfaction.</p>
                </div>
            </div>
            <div class="image-container common">
                <img class="image" src="../../../assets/images/pharmacy/insight.jpg" alt="image">
            </div>
        </div>

        <div class="item">
            <div class="text-container common">
                <h3 class="title">Expert Team: </h3>
                <div class="text">
                    <p>The cornerstone of our excellence lies in our dedicated and expert team. Pranjal Diagnostic and Healthcare Center is staffed by experienced medical doctors, specialists, and healthcare professionals who bring their expertise to every aspect of patient care. </p>
                </div>
            </div>
            <div class="image-container common">
                <img class="image" src="../../../assets/images/gallery/gallery6.jpg" alt="">
            </div>
        </div>

        <div class="item">
            <div class="text-container common">
                <h3 class="title">Well-Equipped Clinical Laboratory</h3>
                <div class="text">
                    <p>Our clinical laboratory is equipped with modern facilities to conduct a wide range of diagnostic tests. The laboratory plays a crucial role in aiding accurate medical diagnoses, ensuring prompt and effective treatment.  </p>
                </div>
            </div>
            <div class="image-container common">
                
            </div>
        </div>
    </div>
</div>