<section class="about-section">
    <div class="custom-container">
        <div class="title">
            <h4>about us</h4>
        </div>
        <div class="section-item-container">
            <div class="block-item">
                <div class="text-container">
                   
                    <div class="content">
                        <p>Pranjal Diagnostic and Healthcare provides a wide range of diagnostic services by bringing the
                            latest technology and ensuring to provide quality medical services. Pranjal, with its excellence,
                            provides quality healthcare by our expert team comprises experienced Medical doctors, well
                            equipped Clinical Laboratory, Radiology and other advance services. We provide services to
                            help people do more, feel better and live longer.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quos rem soluta repellendus repudiandae quae sequi consequuntur amet, culpa nihil earum quam blanditiis sunt!</p>
              
                    </div>
                    <div class="action-container">
                        <a  class="co-btn" routerLink="/about-us">know more &nbsp; <img src="../../../assets/images/icons/right-arrow.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="block-item">
                <div class="image-container">
                    <img src="../../../assets/images/home-page/about-section/DSC_0095.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
 </section>
