<!-- <section class="testimonial-section">
    <div class="custom-container">
    <div class="text-container">
        <div class="text">
            <h4 class="title">testimonial</h4>
            <h2>our patient's comment</h2>
        </div>
    </div>
</div>
</section> -->

<!-- 
<section class="news-section">
    <div class="custom-container">
    <div class="main-container">
        <div class="text-container">
            <div class="text">
                <h3>drop your phone number<br> we will call you back</h3>
                <p>we will call you back for your inquires.</p>
            </div>
        </div>
        <div class="contact">
            <input type="number" placeholder="Phone number">
        </div>
    </div>
</div>
</section> -->