.card-section {
    padding: 20px;
    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 10px 0px rgba(248, 8, 8, 0.3);
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:hover {
            box-shadow: 10px 10px 30px 10px rgb(26, 199, 179);
        }
        .image-container {
            height: 500px;
            // max-width: 400px;
            // width: 500px;
            // margin: auto;
            img {
                height: 100%;
                width: 100%;
                object-fit:contain;
                object-position:center;
            }
        }
        .card-body{
            position: absolute;
            bottom: 0;
            z-index: 1;
            background-color: aliceblue;
            width: 100%;
            border-radius: 10px 10px 0px 0;
        }
    }
}

// @media (max-width:1399px){
//     .card-section {
//         padding: 18px;
//         .card {
//             .image-container {
//                   height: 380px;
//             }
//         }
//     }
// }

// @media (max-width:1199px){
//     .card-section {
//         padding: 17px;
//         .card {
//             .image-container {
//                   height: 350px;
//             }
//             .card-body{
//                 margin: 0%;
//                 padding: 5%;
//                 h5{
//                     font-size: 18px;
//                     margin: 0%;
//                 }
//             }
//         }
//     }
    
// }
@media (max-width:991px){
    .card-section {
        padding: 8px;
        .card {
            .image-container {
                height: 480px;
                min-width: 320px;
            }
        }
    }
    
}