<section class="footer-section">
    <div class="footer-container">
        <div class="custom-container">
            <div class="main-footer">
                <div class="text-container">
                    <div class="text">
                        <ul>
                            <li class="title"><span>get in touch with us</span> </li>
                            <li class="contact">contact no : <a href="tel:+977-9865370270"><span>&emsp;+977-9865370270</span></a></li>
                            <li class="email">email :<a href="mailto:pranjaldhc@gmail.com"><span>&emsp;:&emsp;pranjaldhc@gmail.com</span></a></li>
                            <li><span>location :&emsp;:&emsp;Pepsicola Townplanning ,Kathmandu </span></li>
                            <li><span>opening hour:&emsp;:&emsp;7:00 AM to 9:00 PM</span></li>
                        </ul>
                    </div>
                    <div class="info-item">
                        <ul>
                            <li><a href="https://www.facebook.com/pepsitown" target="_blank"><img src="../../../../assets/images/icons/facebook.png" alt="fb"></a></li>
                            <li><a href="#" target="_blank"><img src="../../../../assets/images/icons/whatsapp.png" alt="fb"></a></li>
                            <li><a href="https://www.facebook.com/pepsitown" target="_blank"><img src="../../../../assets/images/icons/viber.png" alt="fb"></a></li>
                            <li><a href="#"><img src="../../../../assets/images/icons/instagram.png" alt=""></a></li>
                            <li><a href="mailto:pranjaldhc@gmail.com"><img src="../../../../assets/images/icons/gmail.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="logo">
                    <app-logo></app-logo>
                </div>
            </div>
        </div>
    </div>
</section>