<section class="footer-section">
    <div class="footer-container">
        <div class="custom-container">
            <div class="main-footer">
                <div class="text-container">
                    <div class="text">
                        <ul>
                            <li class="title"><span>get in touch with us</span> </li>
                            <li class="contact"><span>contact no :&emsp;+977-#######</span></li>
                            <li class="email"><span>email :&emsp;:&emsp;pranjoal@.np.com</span></li>
                            <li><span>location :&emsp;:&emsp;pepsicola bhaktapur</span></li>
                            <li><span>opening hour:&emsp;:&emsp;7:00 am to 7:00 pm</span></li>
                        </ul>
                    </div>
                    <div class="info-item">
                        <ul>
                            <li><a href="#"><img src="../../../../assets/images/icons/facebook.png" alt="fb"></a></li>
                            <li><a href="#"><img src="../../../../assets/images/icons/instagram.png" alt=""></a></li>
                            <li><a href="#"><img src="../../../../assets/images/icons/tik-tok.png" alt=""></a></li>
                            <li><a href="#"><img src="../../../../assets/images/icons/gmail.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="logo">
                    <app-logo></app-logo>
                </div>
            </div>
        </div>
    </div>
</section>